.dictionary {
    padding: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.translation-result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
}
.dictionary-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stlss {
    color: #007bff; /* Azul para enlaces */
    text-decoration: underline; /* Subrayar los enlaces */
}

.stlss:hover {
    color: #0056b3; /* Color más oscuro en hover */
    text-decoration: none; /* Opcional, elimina el subrayado en hover */
}